{{ ansible_managed | comment }}

######################################################################
#                               MACROS                               #
######################################################################
#

{% if 'mailin' in exim_roles or 'submission' in exim_roles %}
LDAP_SERVERS = {{ exim_ldap_server | join(" ; ") }}
LDAP_PASSWORD = \
  .include {{ exim_ldap_password_file }}
LDAP_BINDUSER = {{ exim_ldap_user }}

LDAP_TIMEOUT = {{ exim_ldap_timeout }}

LDAP_BASEDN = {{ exim_ldap_basedn }}
LDAP_USERDN = ou=People,LDAP_BASEDN
LDAP_GROUPDN = ou=Group,LDAP_BASEDN
LDAP_MAILDN = ou=Mail,LDAP_BASEDN

LDAP_HOSTBYDOMAIN = ${lookup ldap{USER=LDAP_BINDUSER PASS=LDAP_PASSWORD ldaps:///LDAP_MAILDN?rz42MailHostList?sub?(rz42MailDomain=${quote_ldap:$domain})}{$value}fail}
LDAP_DOMAIN = ${lookup ldap{USER=LDAP_BINDUSER PASS=LDAP_PASSWORD ldaps:///LDAP_MAILDN?rz42MailDomain?sub?(rz42MailDomain=${quote_ldap:$domain})}{$value}fail}
LDAP_USERBYLOCALPART = ${lookup ldap{USER=LDAP_BINDUSER PASS=LDAP_PASSWORD ldaps:///LDAP_USERDN?uid?sub?(uid=${quote_ldap:$local_part})}{$value}fail}
LDAP_ALIAS = ${lookup ldap{USER=LDAP_BINDUSER PASS=LDAP_PASSWORD ldaps:///rz42MailDomain=${quote_ldap:$domain},LDAP_MAILDN?rz42MailAddress?sub?(rz42MailAlias=${quote_ldap:$local_part})}{$value}fail}
LDAP_CATCHALL = ${lookup ldap{USER=LDAP_BINDUSER PASS=LDAP_PASSWORD ldaps:///LDAP_MAILDN?rz42MailAddress?sub?(rz42MailDomain=${quote_ldap:$domain})}{$value}fail}
LDAP_REWRITEDOMAIN = ${lookup ldap{USER=LDAP_BINDUSER PASS=LDAP_PASSWORD ldaps:///LDAP_MAILDN?rz42MailAliasDomain?sub?(rz42MailDomain=${quote_ldap:$domain})}{$value}fail}
LDAP_GROUP = ${lookup ldapm{USER=LDAP_BINDUSER PASS=LDAP_PASSWORD ldaps:///LDAP_USERDN?uid?sub?(&(memberOf=${quote_ldap:cn=$local_part,LDAP_GROUPDN})(memberOf=${quote_ldap:cn=mail,LDAP_GROUPDN}))}{$value}{fail}}
{% endif %}
{% if 'mailin' in exim_roles %}
GREYLIST_FILE = /var/spool/exim/greylist/${sender_host_address}
GREY_TIME = 180

CONNECT_DELAY = 5s
SPAMMER_DELAY = 20s
{% endif %}
{% if exim_srs %}
SRS_SECRET = {{ exim_srs_secret }}
{% endif %}



######################################################################
#                    MAIN CONFIGURATION SETTINGS                     #
######################################################################
#

# We use the hostname of the system
# primary_hostname =

# List of variables

domainlist sys_domain = {{ exim_sysmail_domain }}

{% if 'mailin' in exim_roles %}
domainlist group_domains = {{ exim_group_domain }}
domainlist user_domains = {{ exim_user_domain }}
domainlist ldap_domains = LDAP_DOMAIN
{% else %}
domainlist group_domains =
domainlist user_domains =
domainlist ldap_domains =
{% endif %}

#FIXME variablen
{% if 'mailin' in exim_roles %}
domainlist local_domains = +sys_domain : +ldap_domains
{% else %}
domainlist local_domains =
{% endif %}
hostlist   localhost = <; ::1 ; 127.0.0.1
hostlist   rz42net = <; ::1 ; 127.0.0.1 ; {{ exim_rz42net | join ( " ; ") }}
{% if 'smarthost' in exim_roles %}
hostlist   relayhosts = <; {{ exim_relayhosts | join (" ; ") }}
{% endif %}

hostlist relay_from_hosts = localhost {% if 'smarthost' in exim_roles %} : +rz42net : +relayhosts{% endif +%}
{% if 'mailin' in exim_roles %}
hostlist hosts_require_tls = {{ exim_dovecot }}
{% endif %}

#FIXME virus scanner
# av_scanner = clamd:/tmp/clamd

{% if 'mailin' in exim_roles %}
spamd_address = 127.0.0.1 11333 variant=rspamd
{% endif %}

tls_advertise_hosts = *

tls_certificate = {{ exim_cert }}
tls_privatekey = {{ exim_key }}

tls_require_ciphers = EECDH+AESGCM:EDH+AESGCM
openssl_options = +no_sslv2 +no_sslv3 +cipher_server_preference

{% if 'submission' in exim_roles %}
daemon_smtp_ports = 25 : 587 : 1587
#auth_advertise_hosts = ${if def:tls_cipher{*}{}}
{% else %}
daemon_smtp_ports = 25
{% endif %}

qualify_domain = {{ exim_qualify_domain }}
qualify_recipient = {{ exim_qualify_recipient }}

never_users = root
host_lookup = *
dns_dnssec_ok = 1
prdr_enable = true

log_selector = {{ exim_log_selector }}
{% if exim_central_logging %}
log_file_path = syslog
{% endif %}

ignore_bounce_errors_after = 365d
timeout_frozen_after = 365d

# split_spool_directory = true
# check_rfc2047_length = false
# keep_environment = ^LDAP
# add_environment = PATH=/usr/bin::/bin

rfc1413_hosts = *
rfc1413_query_timeout = 0s
{% if 'mailin' in exim_roles or 'submission' in exim_roles %}
ldap_default_servers = LDAP_SERVERS
{% endif %}

queue_run_max = 25
queue_only_load = 5
deliver_queue_load_max = 15
remote_max_parallel = 100
smtp_banner = $smtp_active_hostname ESMTP Exim $tod_full
smtp_accept_max = 200
smtp_load_reserve = 25
smtp_reserve_hosts = <; {{ exim_smtp_reserved_hosts | join(" ; ") }}
smtp_receive_timeout = 5s
message_size_limit = 50M
return_size_limit = 4K
check_spool_space = 1G

received_header_text = Received: \
  ${if def:sender_rcvhost {from $sender_rcvhost\n\t}\
    {${if def:sender_ident \
      {from ${quote_local_part:$sender_ident} }}\
        ${if def:sender_helo_name {(helo=$sender_helo_name)\n\t}}}}\
  by $primary_hostname \
  ${if def:received_protocol {with $received_protocol }}\
  ${if def:tls_in_ver        { ($tls_in_ver)}}\
  ${if def:tls_in_cipher_std { tls $tls_in_cipher_std\n\t}}\
  ${if def:sender_address \
  {(envelope-from <$sender_address>)\n\t}}\
  id $message_exim_id\
  ${if def:received_for {\n\tfor $received_for}}

acl_not_smtp = acl_check_not_smtp
acl_smtp_connect = ${if ={587}{$interface_port} \
                        {acl_check_connect_nodelay}{acl_check_connect} }
acl_smtp_helo = acl_check_helo
{# acl_smtp_mail = acl_check_mail #}
acl_smtp_rcpt = acl_check_rcpt
acl_smtp_data_prdr = acl_check_prdr
# TODO acl_smtp_dkim
acl_smtp_data = acl_check_data
{# acl_smtp_dkim = acl_check_dkim #}
{# acl_smtp_notquit = acl_check_notquit #}

######################################################################
#                       ACL CONFIGURATION                            #
#         Specifies access control lists for incoming SMTP mail      #
######################################################################

begin acl

acl_check_not_smtp:
  .ifdef DEBUG
  warn
    log_message = debug: acl_check_not_smtp
  .endif
  accept
    {# !hosts = localhost  #not allowed in acl_not_smtp #}
    verify = sender
    log_message = sender not allowed

acl_check_connect_nodelay:
  accept

acl_check_connect:
  .ifdef DEBUG
  warn
    log_message = debug: acl_check_connect
  .endif
  {% if 'always_defer' in exim_roles %}
  warn
    log_message = I am not a MX host: delay for ALWAYS_DEFER
    hosts = ! +localhost
    delay = 60s
  {% endif %}
  warn
    log_message = Client Policy Restriction: No (consistent) reverse DNS set.
    condition   = ${if !def:sender_host_name}
    set acl_c_greyfile = GREYLIST_FILE
    delay = CONNECT_DELAY
  warn
    log_message = Client Policy Restriction: No (consistent) reverse DNS set.
    condition   = ${if eq{$sender_host_name}{} {yes}{no}}
    set acl_c_greyfile = GREYLIST_FILE
    delay = CONNECT_DELAY
  warn
    log_message = Client Policy Restriction: No (consistent) reverse DNS set.
    !verify     = reverse_host_lookup
    set acl_c_greyfile = GREYLIST_FILE
    delay = CONNECT_DELAY
  accept

acl_check_helo:
  .ifdef DEBUG
  warn
    log_message = debug: acl_check_helo
  .endif
{% if 'mailin' in exim_roles %}
  drop
    condition   = ${if isip{$sender_helo_name}}
    message     = Invalid HELO name (See RFC2821 4.1.3)
    log_message = Invalid HELO name (See RFC2821 4.1.3)
    delay       = SPAMMER_DELAY
  drop
    condition   = ${if match{$sender_helo_name}{\N^\[\N}{no}{yes}}
    condition   = ${if match{$sender_helo_name}{\N\.\N}{no}{yes}}
    message     = Invalid HELO name (See RFC2821 4.1.1.1)
    log_message     = Invalid HELO name (See RFC2821 4.1.1.1)
    delay       = SPAMMER_DELAY
  warn
    condition   = ${if match{$sender_helo_name}{\N\.$\N}}
    log_message = HELO ending with dot
    delay       = SPAMMER_DELAY
    set acl_c_greyfile = GREYLIST_FILE
  warn
    condition   = ${if match{$sender_helo_name}{\N\.\.\N}}
    log_message = HELO contains two subsequent dots.
    delay       = SPAMMER_DELAY
    set acl_c_greyfile = GREYLIST_FILE
  drop
    hosts       = !+localhost
    condition   = ${if match{$sender_helo_name}{$primary_hostname}}
    message     = HELO is MY primary hostname
    log_message = HELO is MY primary hostname
    delay       = SPAMMER_DELAY
#  warn
#    log_message = rejected because `HELO $sender_helo_name` means \
#                  impersonation/forgery of one of my domains by a spammer
#    condition   = ${if match_domain{$sender_helo_name}{+local_domains}}
  {% endif %}
  accept


acl_check_rcpt:

  # : -> empty list -> local host -> Accept local SMTP
  accept  hosts = :
          control = dkim_disable_verify

  #############################################################################

{% if 'mailin' in exim_roles %}
  # The rule  blocks
  # local parts that begin with a dot or contain @ % ! / or |. If you have
  # local accounts that include these characters, you will have to modify this
  # rule.

  deny    message       = Restricted characters in address
          domains       = +local_domains
          local_parts   = ^[.] : ^.*[@%!/|]

{% endif %}
  # It blocks local parts that begin with a dot, slash, or vertical bar, but
  # allows these characters within the local part. However, the sequence /../
  # is barred. The use of @ % and ! is blocked, as before. The motivation here
  # is to prevent your users (or your users viruses) from mounting certain
  # kinds of attack on remote sites.

  deny    message       = Restricted characters in address
          domains       = !+local_domains
          local_parts   = ^[./|] : ^.*[@%!] : ^.*/\\.\\./
  #############################################################################

  # Accept mail to postmaster in any local domain, regardless of the source,
  # and without verifying the sender.
{% if 'mailin' in exim_roles %}
  accept  local_parts   = postmaster
          domains       = +local_domains
{% endif %}

  require verify        = sender

{% if 'submission' in exim_roles %}
  # Accept if the message arrived over an authenticated connection, from
  # any host. Again, these messages are usually from MUAs, so recipient
  # verification is omitted, and submission mode is set. And again, we do this
  # check before any black list tests.

  accept  authenticated = *
          control       = submission
          control       = dkim_disable_verify
{% endif %}
{% if 'smarthost' in exim_roles %}
  accept  hosts         = +relay_from_hosts
          control       = dkim_disable_verify
{% endif %}

  # Insist that a HELO/EHLO was accepted.

  require message       = nice hosts say HELO first
          condition     = ${if def:sender_helo_name}

{% if 'mailin' in exim_roles %}
  # Insist that any other recipient address that we accept is either in one of
  # our local domains, or is in a domain for which we explicitly allow
  # relaying. Any other domain is rejected as being unacceptable for relaying.

  require message = relay not permitted
          domains = +local_domains : +relay_to_domains

  # Deny unless the sender address can be verified.

  require message = invalid recipient
          domains = +local_domains
          verify = recipient/callout=no_cache,use_postmaster
{% endif %}

#FIXME more checks
# - DNS blacklist
# - Greylisting
  #############################################################################
  # There are no default checks on DNS black lists because the domains that
  # contain these lists are changing all the time. However, here are two
  # examples of how you can get Exim to perform a DNS black list lookup at this
  # point. The first one denies, whereas the second just warns.
  #
{% if 'mailin' in exim_roles and exim_dns_blacklist %}
  deny    message       = rejected because $sender_host_address is in a black list at $dnslist_domain\n$dnslist_text
          dnslists      = {{ exim_dns_blacklist }}
  #
  # warn    dnslists      = black.list.example
  #         add_header    = X-Warning: $sender_host_address is in a black list at $dnslist_domain
  #         log_message   = found in $dnslist_domain
  #############################################################################
{% endif %}

  #############################################################################
  # If doing per-user content filtering then recipients with filters different
  # to the first recipient must be deferred unless the sender talks PRDR.
  #
  # defer  !condition     = $prdr_requested
  #        condition      = ${if > {0}{$receipients_count}}
  #        condition      = ${if !eq {$acl_m_content_filter} \
  #                                  {${lookup PER_RCPT_CONTENT_FILTER}}}
  # warn   !condition     = $prdr_requested
  #        condition      = ${if > {0}{$receipients_count}}
  #        set acl_m_content_filter = ${lookup PER_RCPT_CONTENT_FILTER}
  #############################################################################

  # At this point, the address has passed all the checks that have been
  # configured, so we accept it unconditionally.

  accept



acl_check_prdr:
  #FIXME per user spam filter
  warn  set acl_m_did_prdr = y

  #############################################################################
  # do lookup on filtering, with $local_part@$domain, deny on filter match
  #
  # deny      set acl_m_content_filter = ${lookup PER_RCPT_CONTENT_FILTER}
  #           condition    = ...
  #############################################################################

  accept

acl_check_data:

  # Deny if the message contains an overlong line.  Per the standards
  # we should never receive one such via SMTP.
  #
  deny    message    = maximum allowed line length is 998 octets, \
                       got $max_received_linelength
          condition  = ${if > {$max_received_linelength}{998}}

  # Deny if the headers contain badly-formed addresses.
  #
  deny    !verify =     header_syntax
          message =     header syntax
          log_message = header syntax ($acl_verify_message)

{% if 'mailin' in exim_roles %}
  #FIXME virus
  # Deny if the message contains a virus. Before enabling this check, you
  # must install a virus scanner and set the av_scanner option above.
  #
  # deny    malware    = *
  #         message    = This message contains a virus ($malware_name).

  # Add headers to a message if it is judged to be spam. Before enabling this,
  # you must install SpamAssassin. You may also need to set the spamd_address
  # option above.
  #
  # warn    spam       = nobody
  #         add_header = X-Spam_score: $spam_score\n\
  #                      X-Spam_score_int: $spam_score_int\n\
  #                      X-Spam_bar: $spam_bar\n\
  #                      X-Spam_report: $spam_report

  #############################################################################
  # No more tests if PRDR was actively used.
  # accept   condition  = ${if def:acl_m_did_prdr}
  #
  # To get here, all message recipients must have identical per-user
  # content filtering (enforced by RCPT ACL).  Do lookup for filter
  # and deny on match.
  #
  # deny      set acl_m_content_filter = ${lookup PER_RCPT_CONTENT_FILTER}
  #           condition    = ...
  #############################################################################
  # do not scan messages submitted from our own hosts
  # +relay_from_hosts is assumed to be a list of hosts in configuration
  accept hosts = +relay_from_hosts

  # do not scan messages from submission port (or maybe you want to?)
  accept condition = ${if eq{$interface_port}{587}}

  # skip scanning for authenticated users (if desired?)
  accept authenticated = *

  # scan the message with rspamd
  warn spam = nobody:true
  # This will set variables as follows:
  # $spam_action is the action recommended by rspamd
  # $spam_score is the message score (we unlikely need it)
  # $spam_score_int is spam score multiplied by 10
  # $spam_report lists symbols matched & protocol messages
  # $spam_bar is a visual indicator of spam/ham level

  # use greylisting available in rspamd v1.3+
  defer message    = Please try again later
        condition  = ${if eq{$spam_action}{soft reject}}

  deny  message    = Message discarded as high-probability spam
        condition  = ${if eq{$spam_action}{reject}}

  # Remove foreign headers
  warn remove_header = x-spam-bar : x-spam-score : x-spam-report : x-spam-status

  # add spam-score and spam-report header when "add header" action is recommended by rspamd
  # For now always add headers
  warn
    add_header = X-Spam-Score: $spam_score ($spam_bar)
    add_header = X-Spam-Report: $spam_report

  # add x-spam-status header if message is not ham
  # do not match when $spam_action is empty (e.g. when rspamd is not running)
  warn
    ! condition  = ${if match{$spam_action}{^no action\$|^greylist\$|^\$}}
    add_header = X-Spam-Status: Yes

  # add x-spam-bar header if score is positive
  warn
    condition = ${if >{$spam_score_int}{0}}
    add_header = X-Spam-Bar: $spam_bar
{% endif %}
  # Accept the message.
  accept



######################################################################
#                      ROUTERS CONFIGURATION                         #
#               Specifies how addresses are handled                  #
######################################################################
#     THE ORDER IN WHICH THE ROUTERS ARE DEFINED IS IMPORTANT!       #
# An address is passed to each router in turn until it is accepted.  #
######################################################################

begin routers

# This router can be used when you want to send all mail to a
# server which handles DNS lookups for you; an ISP will typically run such
# a server for their customers.  The hostname in route_data comes from the
# macro defined at the top of the file.  If not defined, then we'll use the
# dnslookup router below instead.
# Beware that the hostname is specified again in the Transport.

{% if not exim_smarthost %}
{% if exim_srs %}
dnslookup_srs:
  driver =    dnslookup
  # if outbound, and forwarding has been done, use an alternate transport
  domains =   ! +local_domains : ! +user_domains : ! +group_domains
  transport = ${if eq {$local_part@$domain} \
    {$original_local_part@$original_domain} \
    {remote_smtp} {remote_forwarded_smtp}}

{% endif %}
dnslookup:
  driver = dnslookup
  domains = ! +local_domains : ! +user_domains : ! +group_domains
  transport = remote_smtp
  ignore_target_hosts = <; {{ exim_dns_lookup_ignore | join(" ; ") }}
  no_more
{% else %}
smarthost:
  driver = manualroute
  domains = ! +local_domains
  transport = smarthost_smtp
  route_data = {{ exim_smarthost }}
  ignore_target_hosts = <; {{ exim_dns_lookup_ignore | join(" ; ") }}
  no_more
{% endif %}

{% if 'mailin' in exim_roles and exim_srs %}
inbound_srs:
  driver =    redirect
  senders =   :
  domains =   +local_domains
  # detect inbound bounces which are SRS'd, and decode them
  condition = ${if inbound_srs {$local_part} {SRS_SECRET}}
  data =      $srs_recipient

inbound_srs_failure:
  driver =    redirect
  senders =   :
  domains =   +local_domains
  # detect inbound bounces which look SRS'd but are invalid
  condition = ${if inbound_srs {$local_part} {}}
  allow_fail
  data =      :fail: Invalid SRS recipient address
{% endif %}
{% if 'mailin' in exim_roles %}
relay:
  driver = manualroute
  domains = ${if eq{LDAP_HOSTBYDOMAIN}{}{}{$domain}}
  route_data = LDAP_HOSTBYDOMAIN
  transport = remote_smtp
{% endif %}
headers:
  driver = redirect
  headers_add = X-RZ42-Orginal-Envelope-To: $local_part@$domain
  data = $local_part@$domain
  check_ancestor
  no_repeat_use
postmaster:
  driver = redirect
  local_parts = postmaster : abuse
  headers_add = X-RZ42-Postmaster-Redirect: added by $primary_hostname
  allow_fail
  allow_defer
  no_verify
  no_expn
  check_ancestor
  data = {{ exim_postmaster }}
system_aliases:
  driver = redirect
  domains = +sys_domain
  allow_fail
  allow_defer
  data = ${lookup{$local_part}lsearch{/etc/mail/aliases}}
{% if 'mailin' in exim_roles %}
#system_mail_user:
#  driver = redirect
#  domains = +sys_domain
#  allow_fail
#  allow_defer
#  data = LDAP_USERBYLOCALPART@USER_DOMAIN
aliases:
  driver = redirect
  address_data = LDAP_ALIAS
  domains = ${if eq{LDAP_ALIAS}{}{}{$domain}}
  local_part_suffix = +*
  local_part_suffix_optional
  allow_fail
  allow_defer
  data = LDAP_ALIAS
catchall_domain:
  driver = redirect
  domains = ${if eq{LDAP_CATCHALL}{}{}{$domain}}
  data = LDAP_CATCHALL
#rewrite-domain a.com -> b.com
rewrite_domain:
  driver = redirect
  domains = ${if eq{LDAP_REWRITEDOMAIN}{}{}{$domain}}
  data = $local_part@LDAP_REWRITEDOMAIN
group:
  driver = redirect
  domains = +group_domains
  qualify_domain = {{ exim_user_domain }}
  data = LDAP_GROUP
  errors_to = POSTMASTER
#FIXME dovecot delivery
mailbox:
#        debug_print = "R: local_user for $local_part@$domain"
        driver = manualroute
        headers_add = X-RZ42-Delivery-Envelope-To: $local_part@$domain
        route_list = "* {{ exim_dovecot }} byname"
        self = send
        domains = +user_domains
        transport = dovecot_lmtp
        cannot_route_message = Unknown user
{% endif %}

######################################################################
#                      TRANSPORTS CONFIGURATION                      #
######################################################################
#                       ORDER DOES NOT MATTER                        #
#     Only one appropriate transport is called for each delivery.    #
######################################################################

begin transports

{% if not exim_smarthost %}
remote_smtp:
  driver = smtp
  message_size_limit = ${if > {$max_received_linelength}{998} {1}{0}}
  hosts_try_prdr = *
  {% if exim_dkim %}
    dkim_domain = $sender_address_domain
    dkim_selector = ed25519 : rsa
    dkim_private_key = ${lookup{${dkim_domain}.${dkim_selector}.key} dsearch,ret=full {/etc/exim/dkim} }
    {# dkim_private_key = /etc/exim/dkim/$dkim_domain.$dkim_selector.key #}
  {% endif %}
{% if exim_srs %}

# transport; should look like the non-forward outbound
# one, plus the max_rcpt and return_path options
remote_forwarded_smtp:
  driver =              smtp
  message_size_limit = ${if > {$max_received_linelength}{998} {1}{0}}
  hosts_try_prdr = *
  # single-recipient so that $original_domain is valid
  max_rcpt =            1
  # modify the envelope from, for mails that we forward
  return_path =         ${srs_encode {SRS_SECRET} {$return_path} {$original_domain}}
  {% if exim_dkim %}
    dkim_domain = $sender_address_domain
    dkim_selector = ed25519 : rsa
    dkim_private_key = ${lookup{${dkim_domain}.${dkim_selector}.key} dsearch,ret=full {/etc/exim/dkim} }
    {# dkim_private_key = /etc/exim/dkim/$dkim_domain.$dkim_selector.key #}
  {% endif %}
{% endif %}
{% else %}
smarthost_smtp:
  driver = smtp
  message_size_limit = ${if > {$max_received_linelength}{998} {1}{0}}
  multi_domain
  hosts_require_tls = *
  tls_verify_hosts = *
  tls_try_verify_hosts = *
  tls_sni = {{ exim_smarthost }}
  hosts_try_prdr = *
{% endif %}

{% if 'mailin' in exim_roles %}
dovecot_lmtp:
  driver = smtp
  port = 24
  protocol = lmtp
  #allow suffixes/prefixes (default unset)
  rcpt_include_affixes
#  batch_max = 200
#  delivery_date_add
#  envelope_to_add
#  return_path_add
{% endif %}

######################################################################
#                      RETRY CONFIGURATION                           #
######################################################################

begin retry

# This single retry rule applies to all domains and all errors. It specifies
# retries every 15 minutes for 2 hours, then increasing retry intervals,
# starting at 1 hour and increasing each time by a factor of 1.5, up to 16
# hours, then retries every 6 hours until 4 days have passed since the first
# failed delivery.

# Address or Domain    Error       Retries
# -----------------    -----       -------

*                      *           F,15m,5m; F,2h,15m; G,16h,1h,1.5; F,4d,6h

######################################################################
#                      REWRITE CONFIGURATION                         #
######################################################################

# There are no rewriting specifications in this default configuration file.
# And we don't use it, because it can break things.

begin rewrite



######################################################################
#                   AUTHENTICATION CONFIGURATION                     #
######################################################################


begin authenticators

{% if 'submission' in exim_roles %}
{# #FIXME dovecot conf #}
{# #Might be tricky over network #}
{# #Use direct ldap auth #}

{# dovecot_plain: #}
{#   driver = dovecot #}
{#   public_name = PLAIN #}
{#   server_socket = /var/run/exim4/auth-client #}
{#   server_set_id = $auth1 #}
{% endif %}
